@page
@model ContosoPizza.Pages.PizzaListModel
@{
    ViewData["Title"] = "Lista de Pizzas 🍕";
}

<form method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div class="form-group">
        <label asp-for="NewPizza.Name" class="control-label">Nome</label>
        <input asp-for="NewPizza.Name" class="form-control" />
        <span asp-validation-for="NewPizza.Name" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="NewPizza.Size" class="control-label">Tamanho</label>
        <select asp-for="NewPizza.Size" class="form-control" id="PizzaSize">
            <option value="">-- Escolha o Tamanho --</option>
            <option value="Pequena">Pequena</option>
            <option value="Média">Média</option>
            <option value="Grande">Grande</option>
        </select>
        <span asp-validation-for="NewPizza.Size" class="text-danger"></span>
    </div>

    <div class="form-group form-check">
        <label class="form-check-label">
            <input class="form-check-input" asp-for="NewPizza.IsGlutenFree" />
            Livre de Glúten
        </label>
    </div>

    <div class="form-group">
        <label asp-for="NewPizza.Price" class="control-label">Valor</label>
        <input asp-for="NewPizza.Price" class="form-control" />
        <span asp-validation-for="NewPizza.Price" class="text-danger"></span>
    </div>

    <div class="form-group">
        <input type="submit" value="Criar" class="btn btn-primary" />
    </div>
</form>

<table class="table mt-5">
    <thead>
        <tr>
            <th scope="col">Nome</th>
            <th scope="col">Preço</th>
            <th scope="col">Tamanho</th>
            <th scope="col">Livre de Glúten</th>
            <th scope="col">Excluir</th>
        </tr>
    </thead>

    <tbody>
        @if (Model.PizzaList != null)
        {
            @foreach (var pizza in Model.PizzaList)
            {
                <tr>
                    <td>@pizza.Name</td>
                    <td>@($"{pizza.Price:C}")</td>
                    <td>@pizza.Size</td>
                    <td>@(pizza.IsGlutenFree ? "✔️" : string.Empty)</td>
                    <td>
                        <form method="post" asp-page-handler="Delete" asp-route-id="@pizza.Id">
                            <button class="btn btn-danger">Excluir</button>
                        </form>
                    </td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="5">Nenhuma pizza encontrada.</td>
            </tr>
        }
    </tbody>
</table>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
